<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ORMConnection" connectionString="Data Source=192.168.1.15,1122;Initial Catalog=AwardsWorkDb;User ID=sami;Password=sami" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>